@import "../../responsive.scss";

nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    transition: all 0.4s ease;
    &:hover {
      scale: 1.05;
    }

    @include sm {
      display: none;
    }
  }

  .left {
    display: flex;
    flex-direction: row;
    flex: 3;
    gap: 50px;
    align-items: center;

    .logo {
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 20px;
      gap: 10px;

      img {
        width: 28px;
      }

      span {
        @include md {
          display: none;
        }
        @include sm {
          display: initial;
        }
      }
    }
  }
  .right {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #fcf5f3;
    height: 100%;

    @include sm {
      display: none;
    }

    a {
      padding: 12px 24px;
      margin: 20px;
    }

    .register {
      background-color: #fece51;
    }
  }
}
